
        .mud1MuiButtonBase-root {
            color: inherit;
            border: 0;
            cursor: pointer;
            margin: 0;
            display: inline-flex;
            outline: 0;
            padding: 0;
            position: relative;
            align-items: center;
            user-select: none;
            border-radius: 0;
            vertical-align: middle;
            -moz-appearance: none;
            justify-content: center;
            text-decoration: none;
            background-color: transparent;
            -webkit-appearance: none;
            -webkit-tap-highlight-color: transparent;
        }
        .mud1MuiIconButton-root {
            flex: 0 0 auto;
            color: rgba(0, 0, 0, 0.54);
            padding: 12px;
            overflow: visible;
            font-size: 1.5rem;
            text-align: center;
            transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            border-radius: 50%;
        }
        .muds1 {
            fill: currentColor;
            width: 1em;
            height: 1em;
            display: inline-block;
            font-size: 1.5rem;
            transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            flex-shrink: 0;
            user-select: none;
        }

        html {
            box-sizing: border-box;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        *,
        *::before,
        *::after {
            box-sizing: inherit;
        }

        body {
            color: #1A2B49;
            margin: 0;
            font-size: 0.875rem;
            font-family: "Roboto", "Helvetica", "Arial", sans-serif;
            font-weight: 400;
            line-height: 1.43;
            letter-spacing: 0.01071em;
            background-color: #FFF;
        }
        .mud1MuiInputBase-input {
            font: inherit;
            color: currentColor;
            width: 100%;
            border: 0;
            height: 1.1876em;
            margin: 0;
            display: block;
            padding: 6px 0 7px;
            min-width: 0;
            background: none;
            box-sizing: content-box;
            animation-name: mui-auto-fill-cancel;
            letter-spacing: inherit;
            animation-duration: 10ms;
            -webkit-tap-highlight-color: transparent;
        }

        .mud1MuiInputBase-input::-webkit-input-placeholder {
            color: currentColor;
            opacity: 0.42;
            transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        }
      
        .muds414 {
            color: #1A2B49;
            height: 55px;
            display: flex;
            align-items: center;
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        }

        @media (min-width:1218px) {
            .muds415 {
                display: none;
            }
        }
 
        .muds423 {
            cursor: pointer;
            display: flex;
            padding: 10px 20px;
            min-height: 60px;
            align-items: center;
        }

        .muds423:hover {
            background-color: #F3F9FF;
        }

        .muds424 {
            color: rgba(0, 0, 0, 0.38);
            transform: rotate(45deg);
        }

        .muds425 {
            color: rgba(0, 0, 0, 0.38);
            margin-right: 10px;
        }

        .muds426 {
            margin-left: 12px;
        }

        .muds427 {
            color: #1A2B49;
            font-size: 1rem;
            font-weight: bold;
        }

        .muds428 {
            color: #1A2B49;
            opacity: 0.8;
            font-size: 0.8rem;
        }

        .muds429 {
            height: 100%;
            position: relative;
            overflow-y: auto;
        }
   
        .mud1MuiChip-root {
            color: rgba(0, 0, 0, 0.87);
            border: none;
            cursor: default;
            height: 32px;
            display: inline-flex;
            outline: 0;
            padding: 0;
            font-size: 0.8125rem;
            box-sizing: border-box;
            transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            align-items: center;
            font-family: "Roboto", "Helvetica", "Arial", sans-serif;
            white-space: nowrap;
            border-radius: 16px;
            vertical-align: middle;
            justify-content: center;
            text-decoration: none;
            background-color: #e0e0e0;
        }

        .mud1MuiChip-root .mud1Mui-disabled {
            opacity: 0.5; 
            pointer-events: none;
        }

        .mud1MuiChip-root .mud1MuiChip-avatar {
            color: #616161;
            width: 24px;
            height: 24px;
            font-size: 0.75rem;
            margin-left: 5px;
            margin-right: -6px;
        }

        .mud1MuiChip-root .mud1MuiChip-avatarColorPrimary {
            color: #fff;
            background-color: rgb(18, 30, 51);
        }

        .mud1MuiChip-root .mud1MuiChip-avatarColorSecondary {
            color: #fff;
            background-color: rgb(14, 102, 178);
        }

        .mud1MuiChip-root .mud1MuiChip-avatarSmall {
            width: 18px;
            height: 18px;
            font-size: 0.625rem;
            margin-left: 4px;
            margin-right: -4px;
        }

        .mud1MuiChip-outlined {
            border: 1px solid rgba(0, 0, 0, 0.23);
            background-color: transparent;
        }
        .mud1MuiChip-outlinedPrimary {
            color: #1A2B49;
            border: 1px solid #1A2B49;
        }
        .mud1MuiChip-label {
            overflow: hidden;
            white-space: nowrap;
            padding-left: 12px;
            padding-right: 12px;
            text-overflow: ellipsis;
        }

        .mud1MuiChip-labelSmall {
            padding-left: 8px;
            padding-right: 8px;
        }
      
        .muds419 {
            flex: 1 1 auto;
            width: 100%;
            display: inline-block;
            position: relative;
            overflow-x: auto;
            white-space: nowrap;
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
            scrollbar-width: none;
            -ms-overflow-style: none;
        }

        .muds419::-webkit-scrollbar {
            display: none;
        }

.muds420 {
    height: calc(100% - 122px);
    overflow-y: auto;
    position: absolute;
    width: 100%;
}

        .muds421 {
            padding: 16px 0px;
        }

        .muds422 {
            height: 30px;
            margin-right: 10px;
        }

        .muds422:first-child {
            margin-left: 10px;
        }
        .muds406 {
            display: flex;
            align-items: center;
        }

        .muds407 {
            display: none;
        }

        @media (min-width:1218px) {
            .muds407 {
                color: rgba(0, 0, 0, 0.38);
                margin: 12px 16px;
                display: block;
            }
        }

        .muds412:before {
            border-bottom: none !important;
        }

        .muds413 {
            height: calc(100% - 65px);
        }

        .mud1MuiDialog-paper {
            margin: 32px;
            position: relative;
            overflow-y: auto;
        }

        @media print {
            .mud1MuiDialog-paper {
                box-shadow: none;
                overflow-y: visible;
            }
        }

        .mud1MuiDialog-paperScrollPaper {
            display: flex;
            max-height: calc(100% - 64px);
            flex-direction: column;
        }

  
        .mud1MuiDialog-paperWidthXs {
            max-width: 444px;
        }

        @media (max-width:507.95px) {
            .mud1MuiDialog-paperWidthXs .mud1MuiDialog-paperScrollBody {
                max-width: calc(100% - 64px);
            }
        }

        .mud1MuiDialog-paperWidthSm {
            max-width: 660px;
        }

        @media (max-width:723.95px) {
            .mud1MuiDialog-paperWidthSm .mud1MuiDialog-paperScrollBody {
                max-width: calc(100% - 64px);
            }
        }

        .mud1MuiDialog-paperWidthMd {
            max-width: 960px;
        }

        @media (max-width:1023.95px) {
            .mud1MuiDialog-paperWidthMd .mud1MuiDialog-paperScrollBody {
                max-width: calc(100% - 64px);
            }
        }

        .mud1MuiDialog-paperWidthLg {
            max-width: 1218px;
        }

        @media (max-width:1281.95px) {
            .mud1MuiDialog-paperWidthLg .mud1MuiDialog-paperScrollBody {
                max-width: calc(100% - 64px);
            }
        }

        .mud1MuiDialog-paperWidthXl {
            max-width: 1920px;
        }

        @media (max-width:1983.95px) {
            .mud1MuiDialog-paperWidthXl .mud1MuiDialog-paperScrollBody {
                max-width: calc(100% - 64px);
            }
        }

        .mud1MuiDialog-paperFullWidth {
            width: calc(100% - 64px);
        }

        .mud1MuiDialog-paperFullScreen {
            width: 100%;
            height: 100%;
            margin: 0;
            max-width: 100%;
            max-height: none;
            border-radius: 0;
        }

        .mud1MuiDialog-paperFullScreen .mud1MuiDialog-paperScrollBody {
            margin: 0;
            max-width: 100%;
        }

        .mud1MuiDialogContent-root {
            flex: 1 1 auto;
            padding: 8px 24px;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
        }

        .mud1MuiDialogContent-root:first-child {
            padding-top: 20px;
        }

        .mud1MuiDialogContent-dividers {
            padding: 16px 24px;
            border-top: 1px solid rgba(0, 0, 0, 0.12);
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        }
 
        .muds83 {
            padding: 0 !important;
        }

        .muds84 {
            top: 70px;
            height: 400px;
            z-index: 900;
            position: absolute;
        }

        @media (min-width:1218px) {
            .muds52 {
                border: 1px solid rgba(0, 0, 0, 0.12);
                overflow: hidden;
                position: relative;
                border-radius: 20px;
                background-color: #FFF;
            }
        }
@media (min-width:1218px) {
    .muds53 {
        position: absolute;
        width: 555px;
        height: 480px;
        top: 270px;
        left: 356px;
        z-index: 9;
        margin-left: -2px;
    }
}
.placeHidden{
    visibility: hidden;
}
.placeShow{
    visibility: none;
}

   

      

   




      

  
 